{% extends 'admin_main/common/header.html' %}
{% load staticfiles %}
{% block main %}
<style>
  .main-container {
    width: 800px; position: absolute; left: 50%; margin-left: -200px;
  }

</style>
<script type="text/javascript">
$(document).ready(function(){
  
  let offset = new Date().getTimezoneOffset() * 60000;
  let today = new Date(Date.now() - offset);

  var dateControl = document.getElementById('currentDatetime');
  dateControl.value = today.toISOString().substring(0, 16);
  $('#currentDatetime2').val(dateControl.value);
  var radioVal = $('input[name="radioValue"]:checked').val();
    });
 </script>

<div class="main-container">
<form method="POST" class="post-form" id="ExcelData" action="{% url 'admin_main:client_list_insert' %}">
  {% csrf_token %}
  <div class="container_test">    
    <div class="">
    <input type="hidden" name='voc_date' id="currentDatetime" style="display:inline-block" class="form-control" >
    <label>인입시간:<input type="text" name='voc_date' id="currentDatetime2" style="display:inline-block" class="form-control" ></label>
    </div>
    <div> 
    <label>인입방법: 
        <label><input type="radio" class="input_check" id="radioButton" name="voc_method" value="Call" checked="checked" > Call</label>
        <label><input type="radio" class="input_check" id="radioButton2" name="voc_method" value="Web"> Web </label>
    </label>
    </div>   

    <div class=""> 
      <label>회원번호: {{ form.client_number }} </label>
     <label>회원명: {{ form.client_name }} </label>
    </div>
    <div style="width:50%; display:inline-block;">
          <label>문의번호: {{ form.voc_number }} </label>
          <label>문의제목: {{ form.voc_title }}</label>
          <label>문의내용: {{ form.voc_content }}</label>
    </div>
    <div class="">
      <label>1차대응내역: {{ form.voc_comment }} </label>
      <label>1차담당자:{{ form.voc_manger }}</label>

    </div> 
    <div class="">
    <!-- <label>장애보고서 : {{ form.report }}</label> -->
    <label> 장애보고서 : 
    <label><input type="radio" class="input_check" id="radioButton" name="report" value="O" checked="checked" > O </label>
    <label><input type="radio" class="input_check" id="radioButton2" name="report" value="X"> X </label>
    </label>     
    </div>
    <div>
    <label> 파트너사: {{ form.partner }}</label>
    </div>
  </div>
  <button type="submit" class="save btn btn-default" >저장</button>
</form>
</div>

{% endblock main %}


